{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
	<!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <div class="heading">
              <div class="container">
                  <div class="row d-flex justify-content-center text-center">
                      <div class="col-lg-8">
        <h2>Our Services</h2>
        <p>At CribDash we are dedicated to simplifying your search for the perfect rental. We offer a wide range of services
        tailored to making your rental experience as smooth and efficient as possible. Our commitment is to provide you
        with reliable information, comprehensive resources and exceptional support throughout your rental journey.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="{% url 'properties' %}" class="stretched-link">
                <h3>Comprehensive Rental Listings</h3>
              </a>
              <p>Find a wide range of rental options from single rooms to multi-bedroom apartments conveniently
                  near your university. Each listing includes detailed information on the rental, high-quality photos
                  and contact details for the hassle-free inquiries.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="{% url 'search_results' %}" class="stretched-link">
                <h3>Advanced Search Filter</h3>
              </a>
              <p>Save time and find the perfect rental quickly with our advanced search filters. You can sort by price,
              location, amenities and more to ensure you get exactly what you need.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Roommate Matching</h3>
              </a>
              <p>Need a roommate? Use our room matching service to find like-minded individuals who are also looking
              for shared accommodations. Our matching system takes into account preference to help you find a great
              match.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="{% url 'landlords_dashboard' %}" class="stretched-link">
                <h3>Landlord Verification</h3>
              </a>
              <p>We take your safety seriously. Our Landlord verification process ensures that the listings you see are
              from trusted and verified property owners, providing you with peace of mind.</p>
              <a href="{% url 'landlords_dashboard' %}" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Support and Resources</h3>
              </a>
              <p>Access a wealth of resources including tips for first-timer renters, information on rental agreements and
              guidelines on what to look for in a rental property. Our support team is also always available to assist you
              with any queries.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="{% url '' %}#testimonials" class="stretched-link">
                <h3>User Reviews and Ratings</h3>
              </a>
              <p>Read Honest reviews and ratings from fellow students to make informed decisions. Our community
              feedback system ensures that you can trust the quality and reliability of the listings.</p>
              <a href="{% url '' %}#testimonials" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
{% endblock %}